/* You can add global styles to this file, and also import other style files */
#loginForm, #registerForm{
    padding: 1em;
    width: 50vw;
    margin-left:auto;
    margin-right:auto;
    margin-top:25vh;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 1px rgb(107, 82, 82);
}

#registerForm{

    margin-top:15vh;
   
}

.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-loginform{
    font-size: 1em;
    text-transform: uppercase;
    
}

.inputGroup{
    margin-top: 2em;
}
